@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  font-size: 50px;
  margin: 5px;
  color: #73777B;
}

.title {
  font-size: 50px;
  color: #B20600;
}

.name {
  font-size: 64px;
  color: #73777B !important;
}

.name,
.logo,
.title {
  font-family: 'Inspiration',
    cursive;
  ;
}

nav,
.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.nav_list li {
  margin: 0 20px;
  color: #B20600;
}

nav h4 {
  color: #73777B;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: baseline;
  height: 300px;
  background-color: #eaf4f1;
  padding: 20px;
  opacity: 0.5;
}

.footer_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer_top p {
  width: 60%;
  margin-top: 25px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 10%;
}

.socials :nth-child(1) {
  margin-left: 0;
}

.footer_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 40%;
}

.footer_top_section {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin: 0 40px;
}

.footer_top_section :first-child {
  font-weight: 600;
}

.footer h1 {
  font-size: 24px;
  font-weight: 300;
}

.copyrights {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: solid #d8ebe4;
}

.overlay {
  width: 400px;
  height: 250px;
  z-index: 2;
  opacity: 1;
}

.overlay:hover {
  opacity: 0.8;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@media (max-width: 1000px) {

  .nav_list,
  nav h4 {
    display: none;
  }

  .row {
    flex-direction: column;
  }

  .main p {
    text-align: center;
  }
}